literature/books/Theory_of_Parsing_Translation_Compiling_Aho-Ullman-Parsing-Vols_1_and_2.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/dragon_book_compilers_Alfred_Aho.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Computational_Complexity_Papadimitriu_1994.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Intro_to_Automata_Theory_Languages_and_Computation_Hopcroft-Motwani-Ullman-2001.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/The_Design_and_Analysis_of_Computer_Algorithms_Aho_Hopcroft_Ullman_1974.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Intro_to_Automata_Theory_Languages_and_Computation_2ed_John_Hopcroft_Rajeev_Motwani_Jeffrey_Ullman.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Theory_of_Parsing_Translation_Compiling_Aho-Ullman-Parsing-Vol1.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/formal-languages-and-their-relation-to-automata-john-e-hopcroft-jeffrey-d-ullman_1969.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Automata_Computability_and_Complexity-Theory_and_Applications_Rich_2019.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Theory_of_Parsing_Translation_Compiling_Aho-Ullman-Compiling-Vol2.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Compilers-Principles_Techniques_and_Tools-Aho_Lam_Sethi_Uhlman_2006.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Foundations_of_Data_Science_Blum_Hopcroft_Kannan_2018.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/George_S_Boolos_John_P_Burgess_Richard_C_Jeffrey_Computability_and_Logic_5Ed_Cambridge_2007.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/notes_on_Boolos_Computability_and_Logic.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/An_Approach_to_Unified_Theory_of_Automata_Hopcroft_Ullman_1967.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Reserarch_in_Deep_Learning_HLF19_lecture_Hopcroft.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/On_General_Purpose_Unifiying_Automata_Szekely_NDJFL_1967.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/ComplexityOfBooleanFunctionsWegener.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/ThreeModelsForTheDescriptionOfLanguageChomsky.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/The_Practical_Performance_of_Automata_Minimization_Algorithms_Erin_van_der_Veen_2017.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Describing_an_Algorithm_byHopcroft_D_Gries_1972.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/logic_systems/Mendelson_Introduction_to_Mathematical_Logic_6th_Ed_2015.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/logic_systems/church_calculi_1941.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/logic_systems/Kurt_Gödel_On_Formally_Undecidable_Propositions_of_Principia_Mathematica_and_Related_Systems_1992.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/logic_systems/MathematicalLogic_Milleti.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/logic_systems/Introduction_to_Mathmetical_Logic_Buss_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/logic_systems/Some_Properties_of_Conversion_ChurchRosser36.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/logic_systems/Kurt_G/ödel_On_Formally_Undecidable_Propositions_of_Principia_Mathematica_and_Related_Systems_1992.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/logic_systems/Kurt_Goedel_On_Formally_Undecidable_Propositions_of_Principia_Mathematica_and_Related_Systems_1992.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/The_Annotated_Turing_Petzold_2008.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Types_and_Programming_Languages_Pierce_2002.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Hardness_vs_Randomness_Nisan_and_Wigderson_1994.pdf filter=lfs diff=lfs merge=lfs -text
literature/coq/Coq_Reference_Manual_v8.4.pl2.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Rado_on_non-computable_functions_1961.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Computability_and_Unsolvability_Martin_Davis_1956.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/The_Undecidable_Basic_Papers_on_Undecidable_Propositions_Unsolvable_Problems_and_more_Davis_1965.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Hartley_Rogers_Theory_of_Recursive_Functions_and_Effective_Computability-The_MIT_Press_1987.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/OnCertainFormalPropertiesOfGrammarsChomsky1959.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/TheAlgebraicTheoryOfContextFreeLanguages_Chomsky_1963.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Lectures_on_the_curry-howard_isomorphism_Sorensen_2006.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/2006_Sorensen_Urzyczyn_Lectures_on_the_Curry-Howard_Isomorphism.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/foundations-of-mathematical-logic_Haskell_Curry_1977.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/classical-mathematical-logic-the-semantic-foundations-of-logic-course-book-2011.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/mathematical-logic-Ershov_1984.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Lectures_on_the_curry-howard_isomorphism_Sorensen_1998.pdf filter=lfs diff=lfs merge=lfs -text
literature/lean/lean_itp_summer_school_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/emergence/Computational_Life-How_Well-formed_Self-replicating_Programs_Emerge_from_Simple_Interaction_Blaise_Aguiera_y_Arcas_Google_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/kolmogorov_complexity/Kolmogorov_Complexity_and_its_Applications_Li_1990.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/introduction-to-kolmogorov-complexity-and-its-applications-4th-ed_Li_2019.pdf filter=lfs diff=lfs merge=lfs -text
